<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="pattern" value="%d{yyyy-MM-dd HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n" />
    <!--
    <property name="pattern" value="%d{mm:ss} [%thread] [%-5level] %logger{16} - %msg - %logger%n" />
    -->

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>


    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>target/log.txt</file>
        <append>false</append>
        <encoder>
            <pattern>${pattern}</pattern>
        </encoder>
    </appender>


    <root level="ERROR">
        <appender-ref ref="STDOUT" />
        <appender-ref ref="FILE" />
    </root>

    <!--
    <logger name="org.springframework.data.mongodb" level="ALL" />
    <logger name="com.mongodb" level="ALL" />
    <logger name="com.danidemi.miserve" level="ALL" />
    -->

</configuration>